{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h3 class="title">Введите маршрут</h3>
    <form action="{%url 'suburban' %}" method="get" class="form">
        {% csrf_token %}
            <div class="row">
            <div class="col">
              <input type="text" name="from" class="form-control form-control-lg" placeholder="Откуда">
            </div>
            <div class="col">
              <input type="text" name="where" class="form-control form-control-lg" placeholder="Куда">
            </div>
          <button type="submit" class="btn btn-primary">Найти</button>
      </div>
    </form>
<div class="wrap">
    <h6>Время отправления - Время прибытия</h6>
    <div class="shedule alignment">
        {% for el in route %}
            {{el.departure_time}}
        {% endfor %}
    </div>
    </div>
{% endblock %}

